# Exclude compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache

# Exclude virtual environment directories
.env
.venv
env/
venv/
ENV/

# Exclude data files that should not be included in the Docker image
data.csv

# Exclude files and directories related to version control
.git
.gitignore

# Exclude cache files for R
.Rhistory
.RData
.Ruserdata

# Exclude IDE specific files
.vscode
.idea

# Other files and folders that should not be included in the Docker build context
*.rds
*.Rproj
.DS_Store
