# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Caches and logs
*.log
.pytest_cache/

# Virtual environment
.env
.venv
venv/
ENV/
env/

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env.local
.env.*.local

# Flask instance folder
instance/

# macOS directory attributes
.DS_Store

# Windows thumbnail cache
Thumbs.db

# pyenv
.python-version

# pipenv
Pipfile.lock

# pytest
.cache

# mypy
.mypy_cache/

# R specific
.Rhistory
.RData
.Ruserdata
*.Rproj
*.rds

# Data files
data.csv

# Version control
.git/
.gitignore

# Editors and IDEs
.idea/
.vscode/
*.swp
*.swo
